/*在这里编辑我的主页样式*/

/*设置背景样式*/
body html{
    width: 100%;
    height: 100%;
}
.body_child{
	width: 100%;
    height: 100%;
    z-index: 1;
    background:no-repeat fixed;
    background-position: 50% 50%;
    position: absolute;
}
.banner{
	width: 85%;
	z-index: 1;
	position: absolute;
	margin-left: 120px;
}
.div1_head{
	background: white;
	border-bottom: 2px solid #cccc;
	widows: 100%;
	height: 55px;
	z-index: 5;
}

/*
 * 设置LOGO样式
 */
.hend_logo{
	width: 200px;
	height: 45px;
	z-index: 5;
	float: left;
	position: absolute;
}
.logo{
	width: 100%;
	height: 100%;
	padding: 5px 0px 0px 10px;
	cursor: pointer;
	z-index: 5;
}
/*
 * 设置导航条
 */
.nav{
	float: right;
	padding-top: 25px;
	padding-right: 35px;
	z-index: 5;
}
.nav li{
	float: left;
	padding: 0px 10px;
	z-index: 5;
}
.nav a{
	/*设置字体*/
	font: bold 14px georgia;
	color: #666;
	text-decoration: none;
	z-index: 5;
}

/*解决高度塌陷问题*/
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
/*设置标题样式*/
/*小标题样式*/
.content h1{
	/*文本居中*/
	text-align: center;
	font:bold 20px georgia;
	color: midnightblue;
	/*设置上边距*/
	margin-top: 15px;
	margin-bottom: 0px;
	cursor: default;
}
.content .btn3{
	width: 100px;
	height: 26px;
	margin-left: 120px;
	background-color: #1890ff;
	color:#FFFFFF;
	font: 13px georgia;
	border:1px solid ivory;
	cursor: pointer;
}

/*设置API地图容器样式*/
.container{
	width:55%;
	height: 76%;
	z-index: 11;
	border:2px solid grey;
	margin: 5px 0px 0px 155px;
	float: left;
}


 /*设置路径选择导航条的样式*/
.destination{
	width: 270px;
	z-index: 10;
/*	background-color: yellow;*/
	border:2px solid transparent;
	float: left;
	margin: 7px 40px;
	padding-bottom: 10px;
	padding-left: 40px;
	position: relative;
}
/*设置显示按钮*/

/*设置路径选择小标题样式*/
.destination h2{
	/*文本居中*/
	text-align: center;
	/*设置一个上内边距*/
	padding: 15px 50px 0px 0px;
	/*设置一个下边距*/
	padding-bottom: 15px;
	color: #11719e;
	font: 21px georgia;
	border-bottom: 2px dotted beige;
	cursor: default;
}	
.destination .input{
	border-bottom: 2px dotted beige;
}
/*设置输入框的表单样式*/
.destination .txt{
	width: 170px;
	height: 25px;
	border: none;
	padding: 0px 2px;
	cursor: default;
}
.destination .btn{
	width: 80px;
	height: 26px;
	margin-left: 8px;
	background-color: #1890ff;
	color:#FFFFFF;
	font: 13px georgia;
	border:1px solid ivory;
	cursor: pointer;
}
.destination p{
	color: midnightblue;
	font: 16px georgia;
	/*设置内边距*/
	padding: 10px 0px 10px;
	cursor: default;
}
.destination h5{
	color: midnightblue;
	font: 16px georgia;
}

/*后四行初始状态不显示*/
#div1{
	display: none;
}
#div3{
	height: 100px;
	height: 100px;
	background:red;
	opacity: 0.5;
}

.destination{
	 box-shadow:  0 0 10px 6px rgba(0,0,0,.5); 
	 background-image: inherit;
	 opacity: 0.8;
	 
}

.annotation{
	background: transparent;
	width: 100%;
	height: 30px;
	z-index: 11;
	position: relative;
	margin-top: 10px;
	float: left;
	cursor: default;
}
.annotation li{
	float:left;
	font-size: 12px;
	color: #ccccc;
}
.annotation .li1{
	margin-left: 140px;
	margin-right: 200px;
}
.annotation .li2{
	margin-left: 650px;
	margin-right: 12px;
}
